.post-image {
    height: 50vh;
    text-align: center;
    img {
        width: 60%;
        height: 100%;
    }
}

.post-specs h4 {
    width: 50%;
    margin: 0 auto;
}

.post-specs p {
    width: 85%;
    font-size: 18px;
    margin: 0 auto;
}

.post-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.author-info {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.author-info span {
    font-size: 17px;
    font-weight: bold;
}

.post-likes {
    display: flex;
    justify-content: space-between;
    min-width: 35%;
}

.like-btn {
    background: none; 
    i {
        color: black;
    }
}

@media screen and (max-width: 992px) {
    .author-info {
        width: 22%;
    }

    .post-likes {
        min-width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .author-info {
        width: 14%;
    }

    .post-heading {
        flex-direction: column;
    }

    .author-info {
        width: 25%;
    }

    .post-likes {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
.author-info {
    width: 50%;
    margin-bottom: 2%;
}
}